<!DOCTYPE html>
<html>

  <body>
    <h1>
        <a href="./index">게시판 로고</a>
    </h1>
    <form method="post" action="./index">
    <table>
        <tr>
            <td>제목</td>
            <td><input type="text" name="subject"></title></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="writer"></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea name="content"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="글쓰기">
    </form>
</body>
</html>
<script>


</script>
